* {
  font-family: 'Julius Sans One', sans-serif;
  box-sizing: border-box;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3em;

}

.photo {
  width: 100%;
  padding: 4em;
}

.thumbnail {
  padding: 1em;
  margin: 2em;
  width: 100%;
}

#search {
  border-radius: 5px;
  border: solid 2px #d5dbe5;
  padding: 1em;
  width: 100%;
  font-size: 1.5em;
}

input[placeholder] {
  text-align: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.rebox-caption p {
  font-size: 1.5em;
  line-height: 1em;
  max-height: 100%
}


@media only screen and (min-width:768px) {
  .grid {
    margin: 5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .thumbnail {
    margin: 2em 2em 2em 0;
  }

  #search{
    border-radius: 5px;
    border: solid 2px #d5dbe5;
    padding: 1.5em;
    width: 35%;
    align-self: center;
    margin-left: 32.5%;
    margin-right: 32.5%;
    margin-top: 2em;

  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }



}
