* {
  font-family: 'Julius Sans One', sans-serif;
  background: white;
}

.photo {
  display: flex;
  flex-direction: column;
}

/* format how photos are displayed */


@media screen and only(min-width:768px) {


}

@media screen and only(min-width:1024px) {

}
